.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    text-align: left;
}

.about-paragraph {
    font-size: 1.2rem;
    margin: 10px auto;
}

.community-img{
    height: 70vh;
    width: 50w;
}

@media (max-width: 768px) {

    .about-container {
        margin-top: 50px;
    }

    .community-img {
        height: 50vh;
        width: 90vw;
    }

    .about-container {
        width: 100%;
    }

    .bio-container {
        width: 90%;
    }
}
