h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 7%;
}

.art-wheel-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #15b8ea;
    height: 100vh;
}

.bio-paragraph {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.btn-container {
    background-color: #15b8ea;
    width: 100%;
    margin-top: 50px;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    background-color: #15b8ea;
}

.download-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding:10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: background-image 0.5s ease, color 0.5s ease; 
}

.download-button:hover {
    background-color: black;
    transition: 0.5s;
    color: white;
}

.button-txt {
    margin-left: 10px;
}

.home-img-container {
    font-weight: 700;
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw;
}

.art-img {
    width: 100%;
    height: 100%;
}

@media (max-width: 976px) {

    h1 {
        margin-top: 10%;
    }
    .download-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .download-button {
        width: 30%;
        font-size: .8rem;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {

    h1 {
        margin-top: 20%;
    }

    .bio-paragraph {
        font-size: 1rem;
    }

    .download-buttons {
        width: 100%;
        flex-direction: column;
    }

    .download-button {
        width: 60%;
        font-size: .8rem;
        margin: 10px auto;
    }

    .home-img-container {
        height: 100%;
    }

    .art-img {
        width: 100%;
        height: 125%;
        margin: 0 auto;
    }
}

@media (max-width: 475px) {
    .bio-header {
        margin-top: 75px;
    }

    .home-img-container {
        height: 90vh;
    }
    .download-buttons {
        width: 100%;
        flex-direction: column;
    }

    .download-button {
        width: 60%;
        font-size: .8rem;
        margin: 10px auto;
    }
}

