h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
}

.art-wheel-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ffe000;
    height: 100vh;
}

.bio-paragraph {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 25px;
    text-align: center;
}

.btn-container {
    background-color: #ffe000;
    width: 100%;
    margin-top: 50px;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    background-color: #ffe000;
}

.download-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding:20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.download-button:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.button-txt {
    margin-left: 10px;
}

.home-img-container {
    font-weight: 700;
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw;
}

.art-img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .art-wheel-bio {
        height: 100%;
    }

    .bio-paragraph {
        font-size: 1rem;
    }

    .download-buttons {
        width: 100%;
        flex-direction: column;
    }

    .download-button {
        width: 40%;
        font-size: .8rem;
        margin: 10px auto;
    }

    .home-img-container {
        height: 100%;
    }

    .art-img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}