body {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: white;
}

.info-header {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 10%;
}

.art-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
}

.teamwork-image {
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

@media (max-width: 768px) {

    .info-container {
        margin-top: 20%;
    }
}