/* Navbar.css */

.navbar {
    background-color: #ffe000;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
    margin: 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding a black shadow */
    position: fixed;
}
  
  
  .navbar-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
  }
  
  .bar {
    background-color: #fff;
    height: 3px;
    width: 24px;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    background-color: #ffe000;
    top: 10px;
    right: 10px;
    display: none;
  }
  
  .navbar-menu.active {
    display: flex;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  .nav-item {
    margin: 10px 0;
    text-align: center;
  }
  
  .nav-link {
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
  /* Media query for screens smaller than a certain width (e.g., 768px) */
@media screen and (max-width: 768px) {
    .navbar-menu {
      display:flex;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block; /* Show the hamburger button */
    }
    
    .navbar-brand {
      justify-content: space-between; /* Move the button to the right */
    }
  
    /* Add any other responsive styles you need */
  }